*{
    box-sizing: border-box; /* các phần padding, border, .. sẽ ko ảnh hưởng đến kích thước element */
}

body{
    margin:0;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc, từ trên xuống */
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
}

.background {
    background: url('https://images.unsplash.com/photo-1604497852413-fdba42621f9c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=661&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
  }