@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box; /* các phần padding, border, .. sẽ ko ảnh hưởng đến kích thước element */
}

body{
    background-color: rgb(161,100,223);
    font-family: 'Roboto', sans-serif;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:30vh;
    overflow: hidden;
}
.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 0.5rem;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    outline: none;
}
